

h1 {
    border-bottom: 5px solid red;
  }
  
  h2 {
    border-bottom: 4px dotted blue;
  }
  
.navbar-links {
    margin: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aqua;
    border-bottom: double;
    list-style-type: none;
  }