.navbar{
  background-color: #333;
  padding: 10px;
  display: flex;
}


.navbar-links {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}